
<div class="cell border-box-sizing text_cell rendered">
<div class="prompt input_prompt">
</div>
<div class="inner_cell">
<div class="text_cell_render border-box-sizing rendered_html">
<p>Resource for images and relevant packages in Julia: <a href="http://juliaimages.github.io/latest/">http://juliaimages.github.io/latest/</a></p>

</div>
</div>
</div>
<div class="cell border-box-sizing text_cell rendered">
<div class="prompt input_prompt">
</div>
<div class="inner_cell">
<div class="text_cell_render border-box-sizing rendered_html">
<p>You only have to run the <code>Pkg.add()</code> lines once before you do the <code>using</code> statement for that package.</p>

</div>
</div>
</div>
<div class="cell border-box-sizing code_cell rendered">
<div class="input">
<div class="prompt input_prompt">In&nbsp;[1]:</div>
<div class="inner_cell">
    <div class="input_area">
<div class=" highlight hl-julia"><pre><span></span><span class="c"># install Images for the basic images, TestImages for some test images</span>
<span class="c"># Pkg.add(&quot;Images&quot;);</span>
<span class="c"># Pkg.add(&quot;TestImages&quot;);</span>
<span class="c"># FileIO for loading images from disk</span>
<span class="c"># Pkg.add(&quot;FileIO&quot;);</span>
<span class="c"># using Colors package to access the color spaces</span>
<span class="c"># Pkg.add(&quot;Colors&quot;);</span>
</pre></div>

</div>
</div>
</div>

</div>
<div class="cell border-box-sizing code_cell rendered">
<div class="input">
<div class="prompt input_prompt">In&nbsp;[2]:</div>
<div class="inner_cell">
    <div class="input_area">
<div class=" highlight hl-julia"><pre><span></span><span class="k">using</span> <span class="n">Images</span><span class="p">,</span> <span class="n">TestImages</span><span class="p">,</span> <span class="n">Colors</span>
</pre></div>

</div>
</div>
</div>

</div>
<div class="cell border-box-sizing code_cell rendered">
<div class="input">
<div class="prompt input_prompt">In&nbsp;[3]:</div>
<div class="inner_cell">
    <div class="input_area">
<div class=" highlight hl-julia"><pre><span></span><span class="n">methods</span><span class="p">(</span><span class="n">testimage</span><span class="p">)</span>
</pre></div>

</div>
</div>
</div>

<div class="output_wrapper">
<div class="output">


<div class="output_area">

<div class="prompt output_prompt">Out[3]:</div>


<div class="output_html rendered_html output_subarea output_execute_result">
1 method for generic function <b>testimage</b>:<ul><li> testimage(filename, ops...) at <a href="https://github.com/JuliaImages/TestImages.jl/tree/1ad8d4f7694b358e83c9f80850c654033672310b/src/TestImages.jl#L50" target="_blank">/home/mprat/.julia/v0.5/TestImages/src/TestImages.jl:50</a></li> </ul>
</div>

</div>

</div>
</div>

</div>
<div class="cell border-box-sizing text_cell rendered">
<div class="prompt input_prompt">
</div>
<div class="inner_cell">
<div class="text_cell_render border-box-sizing rendered_html">
<p>Right now there is no way to read the source code into the REPL, but at least it is a requested feature: <a href="https://github.com/JuliaLang/julia/issues/2625">https://github.com/JuliaLang/julia/issues/2625</a></p>
<p>The names of all the files that are available in the TestImages packages is then found by looking directly at the source code <a href="https://github.com/JuliaImages/TestImages.jl/blob/2c6f848f69a370b5a599b89903b08cd7b059f6af/src/TestImages.jl#L10" target="_blank"> link above</a>.</p>

</div>
</div>
</div>
<div class="cell border-box-sizing code_cell rendered">
<div class="input">
<div class="prompt input_prompt">In&nbsp;[4]:</div>
<div class="inner_cell">
    <div class="input_area">
<div class=" highlight hl-julia"><pre><span></span><span class="c"># show an image directly in the notebook</span>
<span class="c"># when I first ran this cell to load the &quot;toucan&quot; image,</span>
<span class="c"># I got a message in the noteobok REPL that asked if</span>
<span class="c"># ImageMagick (the Julia package) should be installed to parse .png files.</span>
<span class="c"># I said yes and everything is going great</span>
<span class="n">img</span> <span class="o">=</span> <span class="n">testimage</span><span class="p">(</span><span class="s">&quot;lighthouse&quot;</span><span class="p">)</span>
</pre></div>

</div>
</div>
</div>

<div class="output_wrapper">
<div class="output">


<div class="output_area">

<div class="prompt output_prompt">Out[4]:</div>



<div class="output_png output_subarea output_execute_result">
<img src="/assets/imgs/01-getting-started-with-images/01-getting-started-with-images_6_0.png"
>
</div>

</div>

</div>
</div>

</div>
<div class="cell border-box-sizing code_cell rendered">
<div class="input">
<div class="prompt input_prompt">In&nbsp;[5]:</div>
<div class="inner_cell">
    <div class="input_area">
<div class=" highlight hl-julia"><pre><span></span><span class="c"># for this image, we see the internal format is stored as RGB</span>
<span class="n">summary</span><span class="p">(</span><span class="n">img</span><span class="p">)</span>
</pre></div>

</div>
</div>
</div>

<div class="output_wrapper">
<div class="output">


<div class="output_area">

<div class="prompt output_prompt">Out[5]:</div>



<div class="output_text output_subarea output_execute_result">
<pre>&#34;512×768 Array{RGB{N0f8},2}&#34;</pre>
</div>

</div>

</div>
</div>

</div>
<div class="cell border-box-sizing code_cell rendered">
<div class="input">
<div class="prompt input_prompt">In&nbsp;[6]:</div>
<div class="inner_cell">
    <div class="input_area">
<div class=" highlight hl-julia"><pre><span></span><span class="c"># we can extract a single pixel, and it gets automatically displayed</span>
<span class="n">img</span><span class="p">[</span><span class="mi">1</span><span class="p">]</span>
</pre></div>

</div>
</div>
</div>

<div class="output_wrapper">
<div class="output">


<div class="output_area">

<div class="prompt output_prompt">Out[6]:</div>


<div class="output_svg output_subarea output_execute_result">
<svg xmlns="http://www.w3.org/2000/svg" version="1.1"
     width="25mm" height="25mm" viewBox="0 0 1 1">
     <rect width="1" height="1"
           fill="#5C7C99" stroke="none"/>
</svg>
</div>

</div>

</div>
</div>

</div>
<div class="cell border-box-sizing text_cell rendered">
<div class="prompt input_prompt">
</div>
<div class="inner_cell">
<div class="text_cell_render border-box-sizing rendered_html">
<p>Turns out, one of the annoying things about Julia is that everything is 1-indexed. So if you try to access a 0-index pixel in the image, you will get an error.</p>

</div>
</div>
</div>
<div class="cell border-box-sizing code_cell rendered">
<div class="input">
<div class="prompt input_prompt">In&nbsp;[7]:</div>
<div class="inner_cell">
    <div class="input_area">
<div class=" highlight hl-julia"><pre><span></span><span class="n">img</span><span class="p">[</span><span class="mi">0</span><span class="p">,</span> <span class="mi">0</span><span class="p">]</span>
</pre></div>

</div>
</div>
</div>

<div class="output_wrapper">
<div class="output">


<div class="output_area">

<div class="prompt output_prompt">Out[7]:</div>

<div class="output_subarea output_text output_error">
<pre>
BoundsError: attempt to access 512×768 Array{RGB{N0f8},2} at index [0,0]

 in getindex(::Array{ColorTypes.RGB{FixedPointNumbers.Normed{UInt8,8}},2}, ::Int64, ::Int64) at ./array.jl:387</pre>
</div>
</div>

</div>
</div>

</div>
<div class="cell border-box-sizing text_cell rendered">
<div class="prompt input_prompt">
</div>
<div class="inner_cell">
<div class="text_cell_render border-box-sizing rendered_html">
<p>And directly from the docs: "numbering goes down columns, and then wraps around at the top of the next column, because Julia arrays are stored in "column major" order where the fastest dimension is the first dimension".</p>
<p>All Images are actually AbstractArrays, so you can do indexing with [] notation (just like numpy or MATLAB), just remember that it is one-indexed!</p>

</div>
</div>
</div>
<div class="cell border-box-sizing code_cell rendered">
<div class="input">
<div class="prompt input_prompt">In&nbsp;[8]:</div>
<div class="inner_cell">
    <div class="input_area">
<div class=" highlight hl-julia"><pre><span></span><span class="nd">@which</span> <span class="p">[]</span>
</pre></div>

</div>
</div>
</div>

<div class="output_wrapper">
<div class="output">


<div class="output_area">

<div class="prompt output_prompt">Out[8]:</div>


<div class="output_html rendered_html output_subarea output_execute_result">
vect() at <a href="https://github.com/JuliaLang/julia/tree/3c9d75391c72d7c32eea75ff187ce77b2d5effc8/base/abstractarray.jl#L20" target="_blank">abstractarray.jl:20</a>
</div>

</div>

</div>
</div>

</div>
<div class="cell border-box-sizing text_cell rendered">
<div class="prompt input_prompt">
</div>
<div class="inner_cell">
<div class="text_cell_render border-box-sizing rendered_html">
<p>And the Colors.jl package lets us access either individual color channels either by their indexers or the methods:</p>

</div>
</div>
</div>
<div class="cell border-box-sizing code_cell rendered">
<div class="input">
<div class="prompt input_prompt">In&nbsp;[9]:</div>
<div class="inner_cell">
    <div class="input_area">
<div class=" highlight hl-julia"><pre><span></span><span class="n">c</span> <span class="o">=</span> <span class="n">img</span><span class="p">[</span><span class="mi">10</span><span class="p">];</span>
<span class="n">println</span><span class="p">(</span><span class="n">summary</span><span class="p">(</span><span class="n">img</span><span class="p">));</span>
<span class="n">println</span><span class="p">(</span><span class="n">c</span><span class="o">.</span><span class="n">r</span><span class="p">,</span> <span class="s">&quot; &quot;</span><span class="p">,</span> <span class="n">c</span><span class="o">.</span><span class="n">g</span><span class="p">,</span> <span class="s">&quot; &quot;</span><span class="p">,</span> <span class="n">c</span><span class="o">.</span><span class="n">b</span><span class="p">);</span>
<span class="n">println</span><span class="p">(</span><span class="n">red</span><span class="p">(</span><span class="n">c</span><span class="p">),</span> <span class="s">&quot; &quot;</span><span class="p">,</span> <span class="n">green</span><span class="p">(</span><span class="n">c</span><span class="p">),</span> <span class="s">&quot; &quot;</span><span class="p">,</span> <span class="n">blue</span><span class="p">(</span><span class="n">c</span><span class="p">));</span>
</pre></div>

</div>
</div>
</div>

<div class="output_wrapper">
<div class="output">


<div class="output_area">

<div class="prompt output_prompt">Out[9]:</div>

<div class="output_subarea output_stream output_stdout output_text">
<pre>512×768 Array{RGB{N0f8},2}
0.349N0f8 0.49N0f8 0.62N0f8
0.349N0f8 0.49N0f8 0.62N0f8
</pre>
</div>
</div>

</div>
</div>

</div>
<div class="cell border-box-sizing text_cell rendered">
<div class="prompt input_prompt">
</div>
<div class="inner_cell">
<div class="text_cell_render border-box-sizing rendered_html">
<p>Can convert from RGB to a different color space (like BGR). But then if you use the red, green, and blue accessors, you get the same values as when the image is in RGB format!</p>

</div>
</div>
</div>
<div class="cell border-box-sizing code_cell rendered">
<div class="input">
<div class="prompt input_prompt">In&nbsp;[10]:</div>
<div class="inner_cell">
    <div class="input_area">
<div class=" highlight hl-julia"><pre><span></span><span class="c"># use the casting BGR function to convert each pixel from the</span>
<span class="c"># image into the BGR color space</span>
<span class="n">img_bgr</span> <span class="o">=</span> <span class="n">BGR</span><span class="o">.</span><span class="p">(</span><span class="n">img</span><span class="p">);</span>
<span class="n">println</span><span class="p">(</span><span class="n">summary</span><span class="p">(</span><span class="n">img_bgr</span><span class="p">));</span>
<span class="n">c</span> <span class="o">=</span> <span class="n">img_bgr</span><span class="p">[</span><span class="mi">10</span><span class="p">];</span>
<span class="n">println</span><span class="p">(</span><span class="n">c</span><span class="o">.</span><span class="n">r</span><span class="p">,</span> <span class="s">&quot; &quot;</span><span class="p">,</span> <span class="n">c</span><span class="o">.</span><span class="n">g</span><span class="p">,</span> <span class="s">&quot; &quot;</span><span class="p">,</span> <span class="n">c</span><span class="o">.</span><span class="n">b</span><span class="p">);</span>
<span class="n">println</span><span class="p">(</span><span class="n">red</span><span class="p">(</span><span class="n">c</span><span class="p">),</span> <span class="s">&quot; &quot;</span><span class="p">,</span> <span class="n">green</span><span class="p">(</span><span class="n">c</span><span class="p">),</span> <span class="s">&quot; &quot;</span><span class="p">,</span> <span class="n">blue</span><span class="p">(</span><span class="n">c</span><span class="p">));</span>
</pre></div>

</div>
</div>
</div>

<div class="output_wrapper">
<div class="output">


<div class="output_area">

<div class="prompt output_prompt">Out[10]:</div>

<div class="output_subarea output_stream output_stdout output_text">
<pre>512×768 Array{BGR{N0f8},2}
0.349N0f8 0.49N0f8 0.62N0f8
0.349N0f8 0.49N0f8 0.62N0f8
</pre>
</div>
</div>

</div>
</div>

</div>
<div class="cell border-box-sizing code_cell rendered">
<div class="input">
<div class="prompt input_prompt">In&nbsp;[11]:</div>
<div class="inner_cell">
    <div class="input_area">
<div class=" highlight hl-julia"><pre><span></span><span class="c"># load an image from disk</span>
<span class="n">img</span> <span class="o">=</span> <span class="n">load</span><span class="p">(</span><span class="s">&quot;skyline.jpg&quot;</span><span class="p">)</span>
</pre></div>

</div>
</div>
</div>

<div class="output_wrapper">
<div class="output">


<div class="output_area">

<div class="prompt output_prompt">Out[11]:</div>



<div class="output_png output_subarea output_execute_result">
<img src="/assets/imgs/01-getting-started-with-images/01-getting-started-with-images_17_0.png"
>
</div>

</div>

</div>
</div>

</div>
 

