
<div class="cell border-box-sizing text_cell rendered">
<div class="prompt input_prompt">
</div>
<div class="inner_cell">
<div class="text_cell_render border-box-sizing rendered_html">
<p>In this notebook I want to take an image, break it into regions, and tile it with the maximum color from that region. It is an experiment in computational photography!</p>

</div>
</div>
</div>
<div class="cell border-box-sizing code_cell rendered">
<div class="input">
<div class="prompt input_prompt">In&nbsp;[1]:</div>
<div class="inner_cell">
    <div class="input_area">
<div class=" highlight hl-julia"><pre><span></span><span class="k">using</span> <span class="n">Colors</span><span class="p">,</span> <span class="n">Images</span><span class="p">,</span> <span class="n">TestImages</span><span class="p">;</span>
</pre></div>

</div>
</div>
</div>

</div>
<div class="cell border-box-sizing text_cell rendered">
<div class="prompt input_prompt">
</div>
<div class="inner_cell">
<div class="text_cell_render border-box-sizing rendered_html">
<p>The one thing I find hard to get used to with Julia is that I don't need to explicitly call functions on module names, like in Python. Just a small detail, but I'll get used to it.</p>

</div>
</div>
</div>
<div class="cell border-box-sizing code_cell rendered">
<div class="input">
<div class="prompt input_prompt">In&nbsp;[2]:</div>
<div class="inner_cell">
    <div class="input_area">
<div class=" highlight hl-julia"><pre><span></span><span class="n">img</span> <span class="o">=</span> <span class="n">testimage</span><span class="p">(</span><span class="s">&quot;lighthouse&quot;</span><span class="p">);</span>
</pre></div>

</div>
</div>
</div>

</div>
<div class="cell border-box-sizing text_cell rendered">
<div class="prompt input_prompt">
</div>
<div class="inner_cell">
<div class="text_cell_render border-box-sizing rendered_html">
<p>Here's some documentation about Arrays, which are what images are represented as: <a href="http://docs.julialang.org/en/stable/manual/arrays/">http://docs.julialang.org/en/stable/manual/arrays/</a></p>

</div>
</div>
</div>
<div class="cell border-box-sizing code_cell rendered">
<div class="input">
<div class="prompt input_prompt">In&nbsp;[3]:</div>
<div class="inner_cell">
    <div class="input_area">
<div class=" highlight hl-julia"><pre><span></span><span class="c"># find the size of the image</span>
<span class="n">println</span><span class="p">(</span><span class="n">size</span><span class="p">(</span><span class="n">img</span><span class="p">))</span>
</pre></div>

</div>
</div>
</div>

<div class="output_wrapper">
<div class="output">


<div class="output_area">

<div class="prompt output_prompt">Out[3]:</div>

<div class="output_subarea output_stream output_stdout output_text">
<pre>(512,768)
</pre>
</div>
</div>

</div>
</div>

</div>
<div class="cell border-box-sizing code_cell rendered">
<div class="input">
<div class="prompt input_prompt">In&nbsp;[4]:</div>
<div class="inner_cell">
    <div class="input_area">
<div class=" highlight hl-julia"><pre><span></span><span class="n">summary</span><span class="p">(</span><span class="n">img</span><span class="p">)</span>
</pre></div>

</div>
</div>
</div>

<div class="output_wrapper">
<div class="output">


<div class="output_area">

<div class="prompt output_prompt">Out[4]:</div>



<div class="output_text output_subarea output_execute_result">
<pre>&#34;512×768 Array{RGB{N0f8},2}&#34;</pre>
</div>

</div>

</div>
</div>

</div>
<div class="cell border-box-sizing code_cell rendered">
<div class="input">
<div class="prompt input_prompt">In&nbsp;[5]:</div>
<div class="inner_cell">
    <div class="input_area">
<div class=" highlight hl-julia"><pre><span></span><span class="c"># create a random dense array the same size as the image</span>
<span class="c"># it gets initialized with random numbers, which makes a really cool pattern!</span>
<span class="n">tiled_img</span> <span class="o">=</span> <span class="kt">Array</span><span class="p">{</span><span class="n">RGB</span><span class="p">{</span><span class="n">N0f8</span><span class="p">},</span> <span class="mi">2</span><span class="p">}(</span><span class="n">size</span><span class="p">(</span><span class="n">img</span><span class="p">))</span>
</pre></div>

</div>
</div>
</div>

<div class="output_wrapper">
<div class="output">


<div class="output_area">

<div class="prompt output_prompt">Out[5]:</div>



<div class="output_png output_subarea output_execute_result">
<img src="/assets/imgs/02-image-tiling-and-colors/02-image-tiling-and-colors_7_0.png"
>
</div>

</div>

</div>
</div>

</div>
<div class="cell border-box-sizing text_cell rendered">
<div class="prompt input_prompt">
</div>
<div class="inner_cell">
<div class="text_cell_render border-box-sizing rendered_html">
<p>Another way you can initialize an array like another:</p>

</div>
</div>
</div>
<div class="cell border-box-sizing code_cell rendered">
<div class="input">
<div class="prompt input_prompt">In&nbsp;[6]:</div>
<div class="inner_cell">
    <div class="input_area">
<div class=" highlight hl-julia"><pre><span></span><span class="n">tiled_img</span> <span class="o">=</span> <span class="n">similar</span><span class="p">(</span><span class="n">img</span><span class="p">);</span>
</pre></div>

</div>
</div>
</div>

</div>
<div class="cell border-box-sizing text_cell rendered">
<div class="prompt input_prompt">
</div>
<div class="inner_cell">
<div class="text_cell_render border-box-sizing rendered_html">
<p>Like in IPython, you can add a "?" at the end of a function. In Julia, you put the question mark at the start of a function.</p>

</div>
</div>
</div>
<div class="cell border-box-sizing code_cell rendered">
<div class="input">
<div class="prompt input_prompt">In&nbsp;[7]:</div>
<div class="inner_cell">
    <div class="input_area">
<div class=" highlight hl-julia"><pre><span></span><span class="o">?</span><span class="n">linspace</span>
</pre></div>

</div>
</div>
</div>

<div class="output_wrapper">
<div class="output">


<div class="output_area">

<div class="prompt output_prompt">Out[7]:</div>

<div class="output_subarea output_stream output_stdout output_text">
<pre>search: </pre>
</div>
</div>

</div>
</div>

</div>
<div class="cell border-box-sizing text_cell rendered">
<div class="prompt input_prompt">
</div>
<div class="inner_cell">
<div class="text_cell_render border-box-sizing rendered_html">
<h1 id="Iterating-and-Generating">Iterating and Generating<a class="anchor-link" href="#Iterating-and-Generating">&#182;</a></h1><p>There are many ways of generating a range of integers (that I will use to index into the image)</p>

</div>
</div>
</div>
<div class="cell border-box-sizing code_cell rendered">
<div class="input">
<div class="prompt input_prompt">In&nbsp;[8]:</div>
<div class="inner_cell">
    <div class="input_area">
<div class=" highlight hl-julia"><pre><span></span><span class="n">linspace</span><span class="p">(</span><span class="mi">1</span><span class="p">,</span> <span class="n">size</span><span class="p">(</span><span class="n">img</span><span class="p">,</span> <span class="mi">1</span><span class="p">),</span> <span class="mi">8</span><span class="p">)</span>
</pre></div>

</div>
</div>
</div>

<div class="output_wrapper">
<div class="output">


<div class="output_area">

<div class="prompt output_prompt">Out[8]:</div>



<div class="output_text output_subarea output_execute_result">
<pre>8-element LinSpace{Float64}:
 1.0,74.0,147.0,220.0,293.0,366.0,439.0,512.0</pre>
</div>

</div>

</div>
</div>

</div>
<div class="cell border-box-sizing code_cell rendered">
<div class="input">
<div class="prompt input_prompt">In&nbsp;[9]:</div>
<div class="inner_cell">
    <div class="input_area">
<div class=" highlight hl-julia"><pre><span></span><span class="kt">Int16</span><span class="o">.</span><span class="p">(</span><span class="n">linspace</span><span class="p">(</span><span class="mi">1</span><span class="p">,</span> <span class="n">size</span><span class="p">(</span><span class="n">img</span><span class="p">,</span> <span class="mi">1</span><span class="p">),</span> <span class="mi">8</span><span class="p">))</span>
</pre></div>

</div>
</div>
</div>

<div class="output_wrapper">
<div class="output">


<div class="output_area">

<div class="prompt output_prompt">Out[9]:</div>



<div class="output_text output_subarea output_execute_result">
<pre>8-element Array{Int16,1}:
   1
  74
 147
 220
 293
 366
 439
 512</pre>
</div>

</div>

</div>
</div>

</div>
<div class="cell border-box-sizing code_cell rendered">
<div class="input">
<div class="prompt input_prompt">In&nbsp;[10]:</div>
<div class="inner_cell">
    <div class="input_area">
<div class=" highlight hl-julia"><pre><span></span><span class="kt">Int16</span><span class="p">[</span><span class="n">i</span> <span class="k">for</span> <span class="n">i</span> <span class="kp">in</span> <span class="n">linspace</span><span class="p">(</span><span class="mi">1</span><span class="p">,</span> <span class="n">size</span><span class="p">(</span><span class="n">img</span><span class="p">,</span> <span class="mi">1</span><span class="p">),</span> <span class="mi">8</span><span class="p">)]</span>
</pre></div>

</div>
</div>
</div>

<div class="output_wrapper">
<div class="output">


<div class="output_area">

<div class="prompt output_prompt">Out[10]:</div>



<div class="output_text output_subarea output_execute_result">
<pre>8-element Array{Int16,1}:
   1
  74
 147
 220
 293
 366
 439
 512</pre>
</div>

</div>

</div>
</div>

</div>
<div class="cell border-box-sizing text_cell rendered">
<div class="prompt input_prompt">
</div>
<div class="inner_cell">
<div class="text_cell_render border-box-sizing rendered_html">
<p>You can generate x, y tile indices with an interator-like thing or a generator-like thing.</p>

</div>
</div>
</div>
<div class="cell border-box-sizing code_cell rendered">
<div class="input">
<div class="prompt input_prompt">In&nbsp;[11]:</div>
<div class="inner_cell">
    <div class="input_area">
<div class=" highlight hl-julia"><pre><span></span><span class="c"># or to directly generate ints</span>
<span class="mi">1</span><span class="o">:</span><span class="mi">8</span><span class="o">:</span><span class="n">size</span><span class="p">(</span><span class="n">img</span><span class="p">,</span> <span class="mi">1</span><span class="p">)</span>
</pre></div>

</div>
</div>
</div>

<div class="output_wrapper">
<div class="output">


<div class="output_area">

<div class="prompt output_prompt">Out[11]:</div>



<div class="output_text output_subarea output_execute_result">
<pre>1:8:505</pre>
</div>

</div>

</div>
</div>

</div>
<div class="cell border-box-sizing code_cell rendered">
<div class="input">
<div class="prompt input_prompt">In&nbsp;[12]:</div>
<div class="inner_cell">
    <div class="input_area">
<div class=" highlight hl-julia"><pre><span></span><span class="n">typeof</span><span class="p">(</span><span class="mi">1</span><span class="o">:</span><span class="mi">8</span><span class="o">:</span><span class="n">size</span><span class="p">(</span><span class="n">img</span><span class="p">,</span> <span class="mi">1</span><span class="p">))</span>
</pre></div>

</div>
</div>
</div>

<div class="output_wrapper">
<div class="output">


<div class="output_area">

<div class="prompt output_prompt">Out[12]:</div>



<div class="output_text output_subarea output_execute_result">
<pre>StepRange{Int64,Int64}</pre>
</div>

</div>

</div>
</div>

</div>
<div class="cell border-box-sizing text_cell rendered">
<div class="prompt input_prompt">
</div>
<div class="inner_cell">
<div class="text_cell_render border-box-sizing rendered_html">
<p>And the visualizations for strips of images is awesome!</p>

</div>
</div>
</div>
<div class="cell border-box-sizing code_cell rendered">
<div class="input">
<div class="prompt input_prompt">In&nbsp;[13]:</div>
<div class="inner_cell">
    <div class="input_area">
<div class=" highlight hl-julia"><pre><span></span><span class="n">img</span><span class="p">[</span><span class="mi">1</span><span class="o">:</span><span class="mi">8</span><span class="o">:</span><span class="n">size</span><span class="p">(</span><span class="n">img</span><span class="p">,</span> <span class="mi">1</span><span class="p">)]</span>
</pre></div>

</div>
</div>
</div>

<div class="output_wrapper">
<div class="output">


<div class="output_area">

<div class="prompt output_prompt">Out[13]:</div>


<div class="output_svg output_subarea output_execute_result">
<svg xmlns="http://www.w3.org/2000/svg" version="1.1"
     width="250.0mm" height="25.0mm"
     shape-rendering="crispEdges">
<rect x="0.0mm" y="0.0mm"
      width="3.90625mm" height="25.0mm"
      fill="#5C7C99" stroke="none" />
<rect x="3.90625mm" y="0.0mm"
      width="3.90625mm" height="25.0mm"
      fill="#5B80A0" stroke="none" />
<rect x="7.8125mm" y="0.0mm"
      width="3.90625mm" height="25.0mm"
      fill="#6082A3" stroke="none" />
<rect x="11.71875mm" y="0.0mm"
      width="3.90625mm" height="25.0mm"
      fill="#5F84A4" stroke="none" />
<rect x="15.625mm" y="0.0mm"
      width="3.90625mm" height="25.0mm"
      fill="#6685A5" stroke="none" />
<rect x="19.53125mm" y="0.0mm"
      width="3.90625mm" height="25.0mm"
      fill="#6389A6" stroke="none" />
<rect x="23.4375mm" y="0.0mm"
      width="3.90625mm" height="25.0mm"
      fill="#6287A7" stroke="none" />
<rect x="27.34375mm" y="0.0mm"
      width="3.90625mm" height="25.0mm"
      fill="#6088A5" stroke="none" />
<rect x="31.25mm" y="0.0mm"
      width="3.90625mm" height="25.0mm"
      fill="#698EAE" stroke="none" />
<rect x="35.15625mm" y="0.0mm"
      width="3.90625mm" height="25.0mm"
      fill="#6C8DA7" stroke="none" />
<rect x="39.0625mm" y="0.0mm"
      width="3.90625mm" height="25.0mm"
      fill="#6A88A1" stroke="none" />
<rect x="42.96875mm" y="0.0mm"
      width="3.90625mm" height="25.0mm"
      fill="#678DA8" stroke="none" />
<rect x="46.875mm" y="0.0mm"
      width="3.90625mm" height="25.0mm"
      fill="#698EA9" stroke="none" />
<rect x="50.78125mm" y="0.0mm"
      width="3.90625mm" height="25.0mm"
      fill="#6D91AA" stroke="none" />
<rect x="54.6875mm" y="0.0mm"
      width="3.90625mm" height="25.0mm"
      fill="#6C8FA9" stroke="none" />
<rect x="58.59375mm" y="0.0mm"
      width="3.90625mm" height="25.0mm"
      fill="#6F92A9" stroke="none" />
<rect x="62.5mm" y="0.0mm"
      width="3.90625mm" height="25.0mm"
      fill="#7195AC" stroke="none" />
<rect x="66.40625mm" y="0.0mm"
      width="3.90625mm" height="25.0mm"
      fill="#879EA5" stroke="none" />
<rect x="70.3125mm" y="0.0mm"
      width="3.90625mm" height="25.0mm"
      fill="#8599A1" stroke="none" />
<rect x="74.21875mm" y="0.0mm"
      width="3.90625mm" height="25.0mm"
      fill="#8C9DA4" stroke="none" />
<rect x="78.125mm" y="0.0mm"
      width="3.90625mm" height="25.0mm"
      fill="#889A9E" stroke="none" />
<rect x="82.03125mm" y="0.0mm"
      width="3.90625mm" height="25.0mm"
      fill="#8298A2" stroke="none" />
<rect x="85.9375mm" y="0.0mm"
      width="3.90625mm" height="25.0mm"
      fill="#7A9DA8" stroke="none" />
<rect x="89.84375mm" y="0.0mm"
      width="3.90625mm" height="25.0mm"
      fill="#799BA8" stroke="none" />
<rect x="93.75mm" y="0.0mm"
      width="3.90625mm" height="25.0mm"
      fill="#7C9AA6" stroke="none" />
<rect x="97.65625mm" y="0.0mm"
      width="3.90625mm" height="25.0mm"
      fill="#7C9AA2" stroke="none" />
<rect x="101.5625mm" y="0.0mm"
      width="3.90625mm" height="25.0mm"
      fill="#8DA4A8" stroke="none" />
<rect x="105.46875mm" y="0.0mm"
      width="3.90625mm" height="25.0mm"
      fill="#8D9CA1" stroke="none" />
<rect x="109.375mm" y="0.0mm"
      width="3.90625mm" height="25.0mm"
      fill="#85979D" stroke="none" />
<rect x="113.28125mm" y="0.0mm"
      width="3.90625mm" height="25.0mm"
      fill="#7F8E91" stroke="none" />
<rect x="117.1875mm" y="0.0mm"
      width="3.90625mm" height="25.0mm"
      fill="#8D9CA1" stroke="none" />
<rect x="121.09375mm" y="0.0mm"
      width="3.90625mm" height="25.0mm"
      fill="#899DA5" stroke="none" />
<rect x="125.0mm" y="0.0mm"
      width="3.90625mm" height="25.0mm"
      fill="#704E40" stroke="none" />
<rect x="128.90625mm" y="0.0mm"
      width="3.90625mm" height="25.0mm"
      fill="#C4A982" stroke="none" />
<rect x="132.8125mm" y="0.0mm"
      width="3.90625mm" height="25.0mm"
      fill="#D6BE94" stroke="none" />
<rect x="136.71875mm" y="0.0mm"
      width="3.90625mm" height="25.0mm"
      fill="#160B02" stroke="none" />
<rect x="140.625mm" y="0.0mm"
      width="3.90625mm" height="25.0mm"
      fill="#967B51" stroke="none" />
<rect x="144.53125mm" y="0.0mm"
      width="3.90625mm" height="25.0mm"
      fill="#48471F" stroke="none" />
<rect x="148.4375mm" y="0.0mm"
      width="3.90625mm" height="25.0mm"
      fill="#6C624F" stroke="none" />
<rect x="152.34375mm" y="0.0mm"
      width="3.90625mm" height="25.0mm"
      fill="#2E2617" stroke="none" />
<rect x="156.25mm" y="0.0mm"
      width="3.90625mm" height="25.0mm"
      fill="#323518" stroke="none" />
<rect x="160.15625mm" y="0.0mm"
      width="3.90625mm" height="25.0mm"
      fill="#797359" stroke="none" />
<rect x="164.0625mm" y="0.0mm"
      width="3.90625mm" height="25.0mm"
      fill="#5E5647" stroke="none" />
<rect x="167.96875mm" y="0.0mm"
      width="3.90625mm" height="25.0mm"
      fill="#333024" stroke="none" />
<rect x="171.875mm" y="0.0mm"
      width="3.90625mm" height="25.0mm"
      fill="#4E4626" stroke="none" />
<rect x="175.78125mm" y="0.0mm"
      width="3.90625mm" height="25.0mm"
      fill="#938C75" stroke="none" />
<rect x="179.6875mm" y="0.0mm"
      width="3.90625mm" height="25.0mm"
      fill="#776C5C" stroke="none" />
<rect x="183.59375mm" y="0.0mm"
      width="3.90625mm" height="25.0mm"
      fill="#5A5243" stroke="none" />
<rect x="187.5mm" y="0.0mm"
      width="3.90625mm" height="25.0mm"
      fill="#6E6753" stroke="none" />
<rect x="191.40625mm" y="0.0mm"
      width="3.90625mm" height="25.0mm"
      fill="#2F2A29" stroke="none" />
<rect x="195.3125mm" y="0.0mm"
      width="3.90625mm" height="25.0mm"
      fill="#1F1717" stroke="none" />
<rect x="199.21875mm" y="0.0mm"
      width="3.90625mm" height="25.0mm"
      fill="#817A68" stroke="none" />
<rect x="203.125mm" y="0.0mm"
      width="3.90625mm" height="25.0mm"
      fill="#665E4F" stroke="none" />
<rect x="207.03125mm" y="0.0mm"
      width="3.90625mm" height="25.0mm"
      fill="#8E8668" stroke="none" />
<rect x="210.9375mm" y="0.0mm"
      width="3.90625mm" height="25.0mm"
      fill="#A29981" stroke="none" />
<rect x="214.84375mm" y="0.0mm"
      width="3.90625mm" height="25.0mm"
      fill="#706454" stroke="none" />
<rect x="218.75mm" y="0.0mm"
      width="3.90625mm" height="25.0mm"
      fill="#4D4234" stroke="none" />
<rect x="222.65625mm" y="0.0mm"
      width="3.90625mm" height="25.0mm"
      fill="#4F4738" stroke="none" />
<rect x="226.5625mm" y="0.0mm"
      width="3.90625mm" height="25.0mm"
      fill="#827C71" stroke="none" />
<rect x="230.46875mm" y="0.0mm"
      width="3.90625mm" height="25.0mm"
      fill="#534F49" stroke="none" />
<rect x="234.375mm" y="0.0mm"
      width="3.90625mm" height="25.0mm"
      fill="#342A26" stroke="none" />
<rect x="238.28125mm" y="0.0mm"
      width="3.90625mm" height="25.0mm"
      fill="#403C3A" stroke="none" />
<rect x="242.1875mm" y="0.0mm"
      width="3.90625mm" height="25.0mm"
      fill="#261F1C" stroke="none" />
<rect x="246.09375mm" y="0.0mm"
      width="3.90625mm" height="25.0mm"
      fill="#302A24" stroke="none" />
</svg>
</div>

</div>

</div>
</div>

</div>
<div class="cell border-box-sizing text_cell rendered">
<div class="prompt input_prompt">
</div>
<div class="inner_cell">
<div class="text_cell_render border-box-sizing rendered_html">
<p>If you use these generators to index in both directions, what it basically does is tile the image and downsample.</p>

</div>
</div>
</div>
<div class="cell border-box-sizing code_cell rendered">
<div class="input">
<div class="prompt input_prompt">In&nbsp;[14]:</div>
<div class="inner_cell">
    <div class="input_area">
<div class=" highlight hl-julia"><pre><span></span><span class="n">stepsize</span> <span class="o">=</span> <span class="mi">16</span><span class="p">;</span>
<span class="n">img</span><span class="p">[</span><span class="mi">1</span><span class="o">:</span><span class="n">stepsize</span><span class="o">:</span><span class="n">size</span><span class="p">(</span><span class="n">img</span><span class="p">,</span> <span class="mi">1</span><span class="p">),</span> <span class="mi">1</span><span class="o">:</span><span class="n">stepsize</span><span class="o">:</span><span class="n">size</span><span class="p">(</span><span class="n">img</span><span class="p">,</span> <span class="mi">2</span><span class="p">)]</span>
</pre></div>

</div>
</div>
</div>

<div class="output_wrapper">
<div class="output">


<div class="output_area">

<div class="prompt output_prompt">Out[14]:</div>



<div class="output_png output_subarea output_execute_result">
<img src="/assets/imgs/02-image-tiling-and-colors/02-image-tiling-and-colors_22_0.png"
>
</div>

</div>

</div>
</div>

</div>
<div class="cell border-box-sizing code_cell rendered">
<div class="input">
<div class="prompt input_prompt">In&nbsp;[15]:</div>
<div class="inner_cell">
    <div class="input_area">
<div class=" highlight hl-julia"><pre><span></span><span class="n">maximum</span><span class="p">(</span><span class="n">green</span><span class="o">.</span><span class="p">(</span><span class="n">img</span><span class="p">[</span><span class="mi">1</span><span class="o">:</span><span class="mi">10</span><span class="p">]))</span>
</pre></div>

</div>
</div>
</div>

<div class="output_wrapper">
<div class="output">


<div class="output_area">

<div class="prompt output_prompt">Out[15]:</div>



<div class="output_text output_subarea output_execute_result">
<pre>0.518N0f8</pre>
</div>

</div>

</div>
</div>

</div>
<div class="cell border-box-sizing code_cell rendered">
<div class="input">
<div class="prompt input_prompt">In&nbsp;[16]:</div>
<div class="inner_cell">
    <div class="input_area">
<div class=" highlight hl-julia"><pre><span></span><span class="n">maximum</span><span class="p">(</span><span class="n">green</span><span class="o">.</span><span class="p">(</span><span class="n">img</span><span class="p">[</span><span class="mi">1</span><span class="o">:</span><span class="mi">16</span><span class="p">,</span> <span class="mi">1</span><span class="o">:</span><span class="mi">16</span><span class="p">]))</span>
</pre></div>

</div>
</div>
</div>

<div class="output_wrapper">
<div class="output">


<div class="output_area">

<div class="prompt output_prompt">Out[16]:</div>



<div class="output_text output_subarea output_execute_result">
<pre>0.533N0f8</pre>
</div>

</div>

</div>
</div>

</div>
<div class="cell border-box-sizing text_cell rendered">
<div class="prompt input_prompt">
</div>
<div class="inner_cell">
<div class="text_cell_render border-box-sizing rendered_html">
<p>And now let's put it all together to take the max R, G, and B values in a block.</p>

</div>
</div>
</div>
<div class="cell border-box-sizing code_cell rendered">
<div class="input">
<div class="prompt input_prompt">In&nbsp;[17]:</div>
<div class="inner_cell">
    <div class="input_area">
<div class=" highlight hl-julia"><pre><span></span><span class="k">for</span> <span class="n">x</span> <span class="kp">in</span> <span class="mi">1</span><span class="o">:</span><span class="n">stepsize</span><span class="o">:</span><span class="n">size</span><span class="p">(</span><span class="n">img</span><span class="p">,</span> <span class="mi">1</span><span class="p">)</span>
    <span class="k">for</span> <span class="n">y</span> <span class="kp">in</span> <span class="mi">1</span><span class="o">:</span><span class="n">stepsize</span><span class="o">:</span><span class="n">size</span><span class="p">(</span><span class="n">img</span><span class="p">,</span> <span class="mi">2</span><span class="p">)</span>
        <span class="n">x_end</span> <span class="o">=</span> <span class="n">min</span><span class="p">(</span><span class="n">x</span> <span class="o">+</span> <span class="n">stepsize</span><span class="p">,</span> <span class="n">size</span><span class="p">(</span><span class="n">img</span><span class="p">,</span> <span class="mi">1</span><span class="p">));</span>
        <span class="n">y_end</span> <span class="o">=</span> <span class="n">min</span><span class="p">(</span><span class="n">y</span> <span class="o">+</span> <span class="n">stepsize</span><span class="p">,</span> <span class="n">size</span><span class="p">(</span><span class="n">img</span><span class="p">,</span> <span class="mi">2</span><span class="p">));</span>
        <span class="c"># the @view takes a view into the image rather than making a copy</span>
        <span class="n">imgv</span> <span class="o">=</span> <span class="nd">@view</span> <span class="n">img</span><span class="p">[</span><span class="n">x</span><span class="o">:</span><span class="n">x_end</span><span class="p">,</span> <span class="n">y</span><span class="o">:</span><span class="n">y_end</span><span class="p">]</span>
        <span class="n">tiled_img</span><span class="p">[</span><span class="n">x</span><span class="o">:</span><span class="n">x_end</span><span class="p">,</span> <span class="n">y</span><span class="o">:</span><span class="n">y_end</span><span class="p">]</span> <span class="o">=</span> <span class="n">RGB</span><span class="p">{</span><span class="n">N0f8</span><span class="p">}(</span>
            <span class="n">maximum</span><span class="p">(</span><span class="n">red</span><span class="o">.</span><span class="p">(</span><span class="n">imgv</span><span class="p">)),</span> <span class="n">maximum</span><span class="p">(</span><span class="n">green</span><span class="o">.</span><span class="p">(</span><span class="n">imgv</span><span class="p">)),</span> <span class="n">maximum</span><span class="p">(</span><span class="n">blue</span><span class="o">.</span><span class="p">(</span><span class="n">imgv</span><span class="p">)));</span>
    <span class="k">end</span>
<span class="k">end</span>
</pre></div>

</div>
</div>
</div>

</div>
<div class="cell border-box-sizing text_cell rendered">
<div class="prompt input_prompt">
</div>
<div class="inner_cell">
<div class="text_cell_render border-box-sizing rendered_html">
<p>And we can concatenate the images to put them size by side.</p>

</div>
</div>
</div>
<div class="cell border-box-sizing code_cell rendered">
<div class="input">
<div class="prompt input_prompt">In&nbsp;[18]:</div>
<div class="inner_cell">
    <div class="input_area">
<div class=" highlight hl-julia"><pre><span></span><span class="p">[</span><span class="n">img</span> <span class="n">tiled_img</span><span class="p">]</span>
</pre></div>

</div>
</div>
</div>

<div class="output_wrapper">
<div class="output">


<div class="output_area">

<div class="prompt output_prompt">Out[18]:</div>



<div class="output_png output_subarea output_execute_result">
<img src="/assets/imgs/02-image-tiling-and-colors/02-image-tiling-and-colors_28_0.png"
>
</div>

</div>

</div>
</div>

</div>
<div class="cell border-box-sizing text_cell rendered">
<div class="prompt input_prompt">
</div>
<div class="inner_cell">
<div class="text_cell_render border-box-sizing rendered_html">
<p>I can even put all this into a function to call separately. Small notes about functions:</p>
<ul>
<li>Arguments can either be positional or keyword, but not both. The function below means I have to call <code>stepsize=</code> every time I want to pass <code>stepsize</code>.</li>
<li>The last statement is the object returned by the function.</li>
</ul>

</div>
</div>
</div>
<div class="cell border-box-sizing code_cell rendered">
<div class="input">
<div class="prompt input_prompt">In&nbsp;[19]:</div>
<div class="inner_cell">
    <div class="input_area">
<div class=" highlight hl-julia"><pre><span></span><span class="k">function</span> <span class="n">max_tiling</span><span class="p">(</span><span class="n">img</span><span class="p">;</span> <span class="n">stepsize</span><span class="o">=</span><span class="mi">16</span><span class="p">)</span>
    <span class="n">tiled_img</span> <span class="o">=</span> <span class="n">similar</span><span class="p">(</span><span class="n">img</span><span class="p">);</span>
    <span class="k">for</span> <span class="n">x</span> <span class="kp">in</span> <span class="mi">1</span><span class="o">:</span><span class="n">stepsize</span><span class="o">:</span><span class="n">size</span><span class="p">(</span><span class="n">img</span><span class="p">,</span> <span class="mi">1</span><span class="p">)</span>
        <span class="k">for</span> <span class="n">y</span> <span class="kp">in</span> <span class="mi">1</span><span class="o">:</span><span class="n">stepsize</span><span class="o">:</span><span class="n">size</span><span class="p">(</span><span class="n">img</span><span class="p">,</span> <span class="mi">2</span><span class="p">)</span>
            <span class="n">x_end</span> <span class="o">=</span> <span class="n">min</span><span class="p">(</span><span class="n">x</span> <span class="o">+</span> <span class="n">stepsize</span><span class="p">,</span> <span class="n">size</span><span class="p">(</span><span class="n">img</span><span class="p">,</span> <span class="mi">1</span><span class="p">));</span>
            <span class="n">y_end</span> <span class="o">=</span> <span class="n">min</span><span class="p">(</span><span class="n">y</span> <span class="o">+</span> <span class="n">stepsize</span><span class="p">,</span> <span class="n">size</span><span class="p">(</span><span class="n">img</span><span class="p">,</span> <span class="mi">2</span><span class="p">));</span>
            <span class="n">imgv</span> <span class="o">=</span> <span class="nd">@view</span> <span class="n">img</span><span class="p">[</span><span class="n">x</span><span class="o">:</span><span class="n">x_end</span><span class="p">,</span> <span class="n">y</span><span class="o">:</span><span class="n">y_end</span><span class="p">];</span>
            <span class="n">tiled_img</span><span class="p">[</span><span class="n">x</span><span class="o">:</span><span class="n">x_end</span><span class="p">,</span> <span class="n">y</span><span class="o">:</span><span class="n">y_end</span><span class="p">]</span> <span class="o">=</span> <span class="n">RGB</span><span class="p">{</span><span class="n">N0f8</span><span class="p">}(</span>
                <span class="n">maximum</span><span class="p">(</span><span class="n">red</span><span class="o">.</span><span class="p">(</span><span class="n">imgv</span><span class="p">)),</span> <span class="n">maximum</span><span class="p">(</span><span class="n">green</span><span class="o">.</span><span class="p">(</span><span class="n">imgv</span><span class="p">)),</span> <span class="n">maximum</span><span class="p">(</span><span class="n">blue</span><span class="o">.</span><span class="p">(</span><span class="n">imgv</span><span class="p">)));</span>
        <span class="k">end</span>
    <span class="k">end</span>
    <span class="n">tiled_img</span>
<span class="k">end</span>
</pre></div>

</div>
</div>
</div>

<div class="output_wrapper">
<div class="output">


<div class="output_area">

<div class="prompt output_prompt">Out[19]:</div>



<div class="output_text output_subarea output_execute_result">
<pre>max_tiling (generic function with 1 method)</pre>
</div>

</div>

</div>
</div>

</div>
<div class="cell border-box-sizing code_cell rendered">
<div class="input">
<div class="prompt input_prompt">In&nbsp;[20]:</div>
<div class="inner_cell">
    <div class="input_area">
<div class=" highlight hl-julia"><pre><span></span><span class="p">[</span><span class="n">img</span> <span class="n">max_tiling</span><span class="p">(</span><span class="n">img</span><span class="p">,</span> <span class="n">stepsize</span><span class="o">=</span><span class="mi">16</span><span class="p">)]</span>
</pre></div>

</div>
</div>
</div>

<div class="output_wrapper">
<div class="output">


<div class="output_area">

<div class="prompt output_prompt">Out[20]:</div>



<div class="output_png output_subarea output_execute_result">
<img src="/assets/imgs/02-image-tiling-and-colors/02-image-tiling-and-colors_31_0.png"
>
</div>

</div>

</div>
</div>

</div>
<div class="cell border-box-sizing code_cell rendered">
<div class="input">
<div class="prompt input_prompt">In&nbsp;[21]:</div>
<div class="inner_cell">
    <div class="input_area">
<div class=" highlight hl-julia"><pre><span></span><span class="p">[</span><span class="n">img</span> <span class="n">max_tiling</span><span class="p">(</span><span class="n">img</span><span class="p">,</span> <span class="n">stepsize</span><span class="o">=</span><span class="mi">8</span><span class="p">)]</span>
</pre></div>

</div>
</div>
</div>

<div class="output_wrapper">
<div class="output">


<div class="output_area">

<div class="prompt output_prompt">Out[21]:</div>



<div class="output_png output_subarea output_execute_result">
<img src="/assets/imgs/02-image-tiling-and-colors/02-image-tiling-and-colors_32_0.png"
>
</div>

</div>

</div>
</div>

</div>
<div class="cell border-box-sizing text_cell rendered">
<div class="prompt input_prompt">
</div>
<div class="inner_cell">
<div class="text_cell_render border-box-sizing rendered_html">
<p>I am told that the <code>interact.jl</code> package (<a href="https://github.com/JuliaGizmos/Interact.jl">https://github.com/JuliaGizmos/Interact.jl</a>) can let me make a slider to change the stepsize!</p>

</div>
</div>
</div>
<div class="cell border-box-sizing code_cell rendered">
<div class="input">
<div class="prompt input_prompt">In&nbsp;[22]:</div>
<div class="inner_cell">
    <div class="input_area">
<div class=" highlight hl-julia"><pre><span></span><span class="k">for</span> <span class="n">x</span> <span class="kp">in</span> <span class="mi">1</span><span class="o">:</span><span class="n">stepsize</span><span class="o">:</span><span class="n">size</span><span class="p">(</span><span class="n">img</span><span class="p">,</span> <span class="mi">1</span><span class="p">)</span>
    <span class="k">for</span> <span class="n">y</span> <span class="kp">in</span> <span class="mi">1</span><span class="o">:</span><span class="n">stepsize</span><span class="o">:</span><span class="n">size</span><span class="p">(</span><span class="n">img</span><span class="p">,</span> <span class="mi">2</span><span class="p">)</span>
        <span class="n">x_end</span> <span class="o">=</span> <span class="n">min</span><span class="p">(</span><span class="n">x</span> <span class="o">+</span> <span class="n">stepsize</span><span class="p">,</span> <span class="n">size</span><span class="p">(</span><span class="n">img</span><span class="p">,</span> <span class="mi">1</span><span class="p">));</span>
        <span class="n">y_end</span> <span class="o">=</span> <span class="n">min</span><span class="p">(</span><span class="n">y</span> <span class="o">+</span> <span class="n">stepsize</span><span class="p">,</span> <span class="n">size</span><span class="p">(</span><span class="n">img</span><span class="p">,</span> <span class="mi">2</span><span class="p">));</span>
        <span class="n">imgv</span> <span class="o">=</span> <span class="nd">@view</span> <span class="n">img</span><span class="p">[</span><span class="n">x</span><span class="o">:</span><span class="n">x_end</span><span class="p">,</span> <span class="n">y</span><span class="o">:</span><span class="n">y_end</span><span class="p">]</span>
        <span class="n">tiled_img</span><span class="p">[</span><span class="n">x</span><span class="o">:</span><span class="n">x_end</span><span class="p">,</span> <span class="n">y</span><span class="o">:</span><span class="n">y_end</span><span class="p">]</span> <span class="o">=</span> <span class="n">RGB</span><span class="p">{</span><span class="n">N0f8</span><span class="p">}(</span><span class="n">maximum</span><span class="p">(</span><span class="n">red</span><span class="o">.</span><span class="p">(</span><span class="n">imgv</span><span class="p">)),</span> <span class="n">maximum</span><span class="p">(</span><span class="n">green</span><span class="o">.</span><span class="p">(</span><span class="n">imgv</span><span class="p">)),</span> <span class="n">maximum</span><span class="p">(</span><span class="n">blue</span><span class="o">.</span><span class="p">(</span><span class="n">imgv</span><span class="p">)));</span>
    <span class="k">end</span>
<span class="k">end</span>
</pre></div>

</div>
</div>
</div>

</div>
<div class="cell border-box-sizing code_cell rendered">
<div class="input">
<div class="prompt input_prompt">In&nbsp;[23]:</div>
<div class="inner_cell">
    <div class="input_area">
<div class=" highlight hl-julia"><pre><span></span><span class="c"># Pkg.add(&quot;Interact&quot;)</span>
</pre></div>

</div>
</div>
</div>

</div>
<div class="cell border-box-sizing code_cell rendered">
<div class="input">
<div class="prompt input_prompt">In&nbsp;[24]:</div>
<div class="inner_cell">
    <div class="input_area">
<div class=" highlight hl-julia"><pre><span></span><span class="k">using</span> <span class="n">Interact</span><span class="p">;</span>
</pre></div>

</div>
</div>
</div>

<div class="output_wrapper">
<div class="output">


<div class="output_area">

<div class="prompt output_prompt">Out[24]:</div>


<div class="output_html rendered_html output_subarea ">
<div id="interact-js-shim">
    <script charset="utf-8">
(function (IPython, $, _, MathJax) {
    $.event.special.destroyed = {
	remove: function(o) {
	    if (o.handler) {
		o.handler.apply(this, arguments)
	    }
	}
    }

    var OutputArea = IPython.version >= "4.0.0" ? require("notebook/js/outputarea").OutputArea : IPython.OutputArea;

    var redrawValue = function (container, type, val) {
	var selector = $("<div/>");
	var oa = new OutputArea(_.extend(selector, {
	    selector: selector,
	    prompt_area: true,
	    events: IPython.events,
	    keyboard_manager: IPython.keyboard_manager
	})); // Hack to work with IPython 2.1.0

	switch (type) {
	case "image/png":
            var _src = 'data:' + type + ';base64,' + val;
	    $(container).find("img").attr('src', _src);
	    break;
	case "text/latex":
		if (MathJax){
			var math = MathJax.Hub.getAllJax(container)[0];
			MathJax.Hub.Queue(["Text", math, val.replace(/^\${1,2}|\${1,2}$/g, '')]);
			break;
		}
	default:
	    var toinsert = OutputArea.append_map[type].apply(
		oa, [val, {}, selector]
	    );
	    $(container).empty().append(toinsert.contents());
	    selector.remove();
	}
    }


    $(document).ready(function() {
	function initComm(evt, data) {
	    var comm_manager = data.kernel.comm_manager;
        //_.extend(comm_manager.targets, require("widgets/js/widget"))
	    comm_manager.register_target("Signal", function (comm) {
            comm.on_msg(function (msg) {
                var val = msg.content.data.value;
                $(".signal-" + comm.comm_id).each(function() {
                var type = $(this).data("type");
                if (typeof(val[type]) !== "undefined" && val[type] !== null) {
                    redrawValue(this, type, val[type], type);
                }
                });
                delete val;
                delete msg.content.data.value;
            });
	    });

	    // coordingate with Comm and redraw Signals
	    // XXX: Test using Reactive here to improve performance
	    $([IPython.events]).on(
		'output_appended.OutputArea', function (event, type, value, md, toinsert) {
		    if (md && md.reactive) {
                // console.log(md.comm_id);
                toinsert.addClass("signal-" + md.comm_id);
                toinsert.data("type", type);
                // Signal back indicating the mimetype required
                var comm_manager = IPython.notebook.kernel.comm_manager;
                var comm = comm_manager.comms[md.comm_id];
                comm.then(function (c) {
                    c.send({action: "subscribe_mime",
                       mime: type});
                    toinsert.bind("destroyed", function() {
                        c.send({action: "unsubscribe_mime",
                               mime: type});
                    });
                })
		    }
	    });
	}

	try {
	    // try to initialize right away. otherwise, wait on the status_started event.
	    initComm(undefined, IPython.notebook);
	} catch (e) {
	    $([IPython.events]).on('kernel_created.Kernel kernel_created.Session', initComm);
	}
    });
})(IPython, jQuery, _, MathJax);
</script>
    <script>
        window.interactLoadedFlag = true
       $("#interact-js-shim").bind("destroyed", function () {
           if (window.interactLoadedFlag) {
               console.warn("JavaScript required by Interact will be removed if you remove this cell or run using Interact more than once.")
           }
       })
       $([IPython.events]).on("kernel_starting.Kernel kernel_restarting.Kernel", function () { window.interactLoadedFlag = false })
   </script>
</div>
</div>

</div>

</div>
</div>

</div>
<div class="cell border-box-sizing text_cell rendered">
<div class="prompt input_prompt">
</div>
<div class="inner_cell">
<div class="text_cell_render border-box-sizing rendered_html">
<p>The widget lets me manipulate the step size and re-generate images directly in the notebook! Highly recommend this package =)</p>

</div>
</div>
</div>
<div class="cell border-box-sizing code_cell rendered">
<div class="input">
<div class="prompt input_prompt">In&nbsp;[25]:</div>
<div class="inner_cell">
    <div class="input_area">
<div class=" highlight hl-julia"><pre><span></span><span class="nd">@manipulate</span> <span class="k">for</span> <span class="n">s</span><span class="o">=</span><span class="p">[</span><span class="mi">2</span><span class="o">^</span><span class="n">x</span> <span class="k">for</span> <span class="n">x</span> <span class="kp">in</span> <span class="mi">0</span><span class="o">:</span><span class="mi">6</span><span class="p">]</span>
    <span class="p">[</span><span class="n">img</span> <span class="n">max_tiling</span><span class="p">(</span><span class="n">img</span><span class="p">,</span> <span class="n">stepsize</span><span class="o">=</span><span class="n">s</span><span class="p">)]</span>
<span class="k">end</span>
</pre></div>

</div>
</div>
</div>

<div class="output_wrapper">
<div class="output">


<div class="output_area">

<div class="prompt output_prompt">Out[25]:</div>


<div class="output_html rendered_html output_subarea ">

</div>

</div>

</div>
</div>

</div>
 

